<div class="card-header mb-sm-1">
<form class="container">
  <h5>Add a Link</h5>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="title" #newTitle>
    <label for="floatingInput">Title</label>
  </div>
  <div class="form-floating">
    <input type="url" class="form-control" id="floatingPassword" placeholder="link" #newLink>
    <label for="floatingPassword">Link</label>
  </div>
  <br>
</form>
  <button class="btn btn-success" (click)="addArticle(newTitle , newLink)">Submit link</button>
</div>

<app-article *ngFor="let article of sortedArticles()" [articleModel]="article"></app-article>

